@import "normalize";

html {
  font-size: 62.5%;
}

body {
  font-family: 'Space Mono', monospace;
  background-color: #121212;
  color: #fff;
}

.main {
  align-items: center;
  overflow: hidden;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 50px;
}

