@import "normalize";

html {
  font-size: 62.5%;
}

body {
  font-family: 'Space Mono', monospace;
  background-color: #121212;
  color: #fff;
}

.main {
  align-items: center;
  overflow: hidden;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 74px;

  @media (min-width: 448px) {
    margin-top: 50px;
  }
}

.content {
  flex: none;
  margin-bottom: 24px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 24px;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: 448px) {
    width: 428px;
    padding: 0;
  }

  @media (min-width: 662px) {
    width: 664px;
  }

  @media (min-width: 876px) {
    width: 856px;
  }

  @media (min-width: 1090px) {
    width: 1070px;
  }
}
